commands:
  01_create_swap:
    command: |
      if [ ! -f /var/swapfile ]; then
        dd if=/dev/zero of=/var/swapfile bs=1M count=1024
        chmod 600 /var/swapfile
        mkswap /var/swapfile
        swapon /var/swapfile
      fi
    test: "[ ! -f /var/swapfile ] || ! swapon -s | grep -q /var/swapfile"
